<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Reports</h3>
    <canvas id="reportChart" width="400" height="200"></canvas>
  </div>
  <div class="col-md-4">
    <h3>Budget Report</h3>
    <canvas id="budgetChart" width="400" height="200"></canvas>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6">
    <h3>Recent Sales</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brandon Joco</td>
          <td>Lorem Ipsum</td>
          <td>$54</td>
          <td>Approved</td>
        </tr>
        <tr>
          <td>Emily Kessler</td>
          <td>Lorem Ipsum</td>
          <td>$47</td>
          <td>Pending</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Website Traffic</h3>
    <canvas id="trafficChart" width="400" height="200"></canvas>
  </div>
</div>
